{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/style.css'%}">
    </head>
    <body>
    <div class="container">
        <div class="header">
            <h1><a href="#">Django Girls Blog</a></h1>
            <h4>{{title}}</h4>
        </div>
        <!--<div>{{posts}}</div>-->

        {% for post in posts %}
        <div class="post-list">
            <h4><a href="#">{{post.title}}</a></h4>
            <p CLASS="text-right"><small>published: {{post.published_date}}</small></p>
            <p>{{post.text}}</p>
        </div>
        {% endfor %}

        <div>
            <p>published: 05.29.2017, 12:14</p>
            <h2><a href="#">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare</p>

        </div>
    </div>
    </body>
</html>