<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="#">Django Girls Blog</a></h1>
            <h3>{{title}}</h3>
        </div>
        <div>{{posts}}</div>

        {% for post in posts %}
        <div>
            <p>published: {{post.published_date}}</p>
            <h2><a href="#">{{post.title}}</a></h2>
            <p>{{post.text}}</p>
        </div>
        {% endfor %}

        <div>
            <p>published: 05.29.2017, 12:14</p>
            <h2><a href="#">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare</p>

        </div>
    </body>
</html>